{% extends 'base.html.twig' %}

{% block title %}Répondre{% endblock %}

{% block body %}
    <h1>Répondre à la question</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Soumettre</button>
    {{ form_end(form) }}

    <a href="{{ path('app_question_show', {'id': reponse.question.id}) }}">Retour à la question</a>
{% endblock %}
